* {
  font-family: Cambria, Cochin, Georgia, serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mentuItems {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.mentuItems a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  /* margin: 2px; */
  padding: 6px;
  font-size: 12px;
}
.mentuItems a:hover {
  background-color: #fefefe;
  border-radius: 5px;
  padding-left: 10px;
}
.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #f6f9f9;
  padding: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: relative;
}
.logout {
  width: 280px;
  position: absolute;
  bottom: 10px;
}
.icons {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}
