* {
  font-family: Cambria, Cochin, Georgia, serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.menubar {
  box-shadow: 0 10px 15px rgb(0, 0, 0, 0.05);
}
.mentuItems {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.mentuItems a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  /* margin: 2px; */
  padding: 6px;
  font-size: 15px;
}
.mentuItems a:hover {
  background-color: #f8faff;
  border-radius: 5px;
  padding-left: 10px;
}
.sidebar {
  width: 200px;
  height: 100vh;
  /* background-color: #f6f9f9; */
  background-color: white;
  padding: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /* position: relative; */
  /* overflow-y: auto; */
}
.sidebar::-webkit-scrollbar {
  width: 4px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 10px;
}

.logout {
  width: 197px;
  margin-top: 20px;
}
.icons {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
