.flex {
  display: flex;
}

.container {
  padding: 40px;
  margin: 0 auto;
}
.button-blue {
  background-color: #4834d4;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.uploadDoc {
  /* display: flex; */
  /* flex-direction: column; */
  background-color: #f6f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  width: 800px;
}
.fileUp {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
#document {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 50px;
}
.upBtn {
  color: white;
  background-color: #4834d4;
  border: none;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upBtn a {
  cursor: pointer;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.communityCards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
.card {
  width: 200px;
  border: 0.5px solid;
  border-radius: 10px;
  padding: 8px;
  margin-top: 20px;
}
.cardCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.flexGap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.viewBtn a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0px auto;
  padding: 5px 50px;
  background-color: #4834d4;
  color: white;
  border: none;
  border-radius: 5px;
}
.screen {
  width: 800px;
}
.profileScreen {
  width: 800px;
  background-color: #f6f9f9;
  padding: 15px;
  margin-top: 10px;
  border-radius: 15px;
}
.col-gap {
  column-gap: 15px;
}
.badgeSection {
  background-color: #f6f9f9;
  margin-top: 15px;
  padding: 15px;
  border-radius: 15px;
}
.badges {
  background-color: rgba(255, 99, 71, 0.1);
  margin-top: 10px;
  padding: 15px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

.text-area {
  background-color: #f6f9f9;
  border-radius: 10px;
  width: 400px;
  padding: 8px;
  margin-top: 5px;
}
