.heading {
  text-align: center;
}
.namefield {
  display: flex;
  column-gap: 5px;
}

.container {
  margin: 0px auto;
  padding-top: 40px;
  border: 1px solid;
  margin-top: 70px;
  padding: 20px;
}

.flex {
  display: flex;
}


.scoring {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  font-size: 14px;
  width: 900px;
  margin: 0px auto;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
  border-radius: 10px;
  background-color: #f0f1f1;
  width: 300px;
}
.card h3 {
  margin: 0;
  padding: 0;
}
.card p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.quickSection {
  background-color: rgb(151, 153, 152);
  width: 900px;
  margin: 30px auto;
  padding: 10px;
}
.Quick_Actions {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  font-size: 14px;
}
.activity {
  padding: 5px 20px;
  border-radius: 10px;
  width: 200px;

  background-color: #f0f1f1;
}
.bio {
  height: 80px;
  width: 350px;
}
.ppicture{
  
 border-radius: 50%;
 height: 80px;
 width: 80px;
 }
 .picture{
  display: flex;
  justify-content: center;
 }
